 <div id="footer">
    <div class="box1">
      <h2>Redes Sociais ! </h2>

       <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like-box" data-href="https://www.facebook.com/erlonloja" data-width="395" data-height="260" data-show-faces="true" data-stream="false" data-header="false"></div>

<!-- botaão do google -->
  
    <!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pt-BR'}
</script>

<!-- Posicione esta tag onde você deseja que o selo apareça. -->
<div class="g-plus" data-width="396" data-href="//plus.google.com/105123295365467962956" data-rel="publisher" data-theme="dark"></div>
<!--contado online -->
<div>
<script id="_waus8l">var _wau = _wau || [];
_wau.push(["colored", "1i3y87v39f0v", "s8l", "35ff171000ba"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="http://widgets.amung.us/colored.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script></div>
<!--contado online -->
    </div>
    <div class="box contactdetails">
      <h2>Contatos Direto !</h2>
      <ul>
        <li>Um Dígito Informática</li>
        <li>Avenida Olímpica &amp; 2329 A</li>
        <li>Cacimba do Povo</li>
        <li>CEP: 62800-000</li>
        <li>Tel: (88) 34213181</li>
        <li>Cel: (88) 96524411</li>
        <li><a href="mailto:erlon@umdigito.com.br">Email: erlon@umdigito.com.br</a></li>
        <li class="last">LinkedIn: <a href="http://www.linkedin.com/in/erloncarlos" target="_blank">Erlon Carlos</a></li>
      </ul>
    </div>
    <div class="box flickrbox">
      <h2>Imagens do Site !</h2>
      <div class="wrap">
        <div class="fix"></div>
        <div class="flickr_badge_image" id="flickr_badge_image1"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image2"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image3"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image4"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image5"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image6"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="fix"></div>
      </div>
    </div>
    <br class="clear" />
  </div>