<div id="header">
<div id="topnav">
<ul>
  <li class="last"><a href="#">Sobre</a></li>
  <li><a href="#">Clientes</a></li>
<li><a href="#">Contato</a></li>
<li><a href="#">Criação</a>
<ul>
<li><a href="#">Sites</a></li>
<li><a href="#">Logomarcas</a></li>
<li><a href="#">E-mail Marketing</a></li>
</ul>
</li>
<li><a href="full-width.html">Assitência</a>
  <ul>
      <li><a href="#">Manutenção </a></li>
      <li><a href="#">Instalações</a></li>
      <li><a href="#">Recuperação de Hds</a></li>
  </ul>

</li>
<li><a href="full-width.html">Automação</a>
<ul>
      <li><a href="#">S Comercial</a></li>
      <li><a href="#">S Gerencial</a></li>
      <li><a href="#">S Administrador</a></li>
       <li><a href="#">Produtos</a></li>
  </ul>



</li>

<li><a href="style-demo.html">Blog</a></li>
<li class="active"><%= link_to root_path do %>
Home<% end %></li></li>
</ul>
</div>
<div id="logo">

<%= link_to root_path do %>
<%= image_tag "logosistemadigisat.png", :size =>"170x100" %>
<% end %>


</div>
<br class="clear" />
</div>