<div class="sponsors">
<h2>Publicidade</h2>
<div class="b_250"><script type="text/javascript">
bb_bid = "1680108";
bb_lang = "pt-BR";
bb_name = "custom";
bb_limit = "4";
bb_format = "bbm";
</script>
<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script></div>
<div class="b_125">
<ul>
<li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
<li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
<li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
<li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
<li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
<li class="last"><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
</ul>
<div class="clear"></div>
</div>
</div>